<template>
  <q-page padding>
    <button style="position: absolute; right: 10px"
    @click="counter++">{{counter}}</button>
    <input v-model="message" 
    @keyup.esc="clearMessage" 
    @keyup.enter="alertMessage"
    v-autofocus/>
    <button @click="clearMessage">Clear</button>
 <h5 
  v-if="message.length" 
class="border-grey">{{message}}</h5>
<h6 v-else>No message entered</h6>

<hr>

<p>Uppercase message: {{messageUpperCase}}</p>


  </q-page>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
data(){
  return{
    message: 'I love string',
    counter: 0
  }
  },
  computed: {
    messageUpperCase(){
      return this.message.toUpperCase()
    }
  },
  methods: {
    clearMessage() {
    this.message=''
    },
    alertMessage(){
      alert(this.message)
    },  
  },
     directives: {
       autofocus: {
          inserted() {
            console.log('input')
          }
       }
     }

})
</script>

<style>

.border-grey{
  border: 1px solid grey;
}

</style>